#main-heading {
    color: black;
    background-color: rgb(0, 247, 255);
    font-size: 60px;
    text-align: center;
}

button {
    font-size: 30px;
    font-family: "Times New Roman", Verdana, sans-serif;
}

.muddy-buddies {
    background-color: white;
}

.homemade-pasta {
    background-color: rgb(250, 76, 53);
}

.pancakes {
    background-color: tan;
}

img {
    height: auto;
    width: 400px;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

p,
li {
    font-size: 24px;
}